{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Panel de control :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Panel de control
        <small>Repositorio URJavaC</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
    </ol>
{% endblock %}

{% block contenido %}
    <style>
        .link-smallbox{
            text-decoration: none;
            color: #fff;
        }
        .link-smallbox:hover{
            color: #fff;
        }
    </style>
    <h2 class="page-header">Datos sobre los usuarios</h2>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        {{numUsuarios}}
                    </h3>
                    <p>
                        Registrados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{{ path('admin_usuario_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        {{numUsuariosActivos}}
                    </h3>
                    <p>
                        Activados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle"></i>
                </div>
                <a href="{{ path('admin_usuario_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>
                        {{numUsuariosNoActivos}}
                    </h3>
                    <p>
                        No activados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
                <a href="{{ path('admin_usuario_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-navy">
                <div class="inner">
                    <h3>
                        {{numUsuariosAdministradores}}
                    </h3>
                    <p>
                        Administradores
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="{{ path('admin_administradores_index') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div>
    <h2 class="page-header">Datos sobre los recursos</h2>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        {{ numRecursos }}
                    </h3>
                    <p>
                        Recursos
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-files-o"></i>
                </div>
                <a href="{{ path('admin_recurso_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>
                        {{ numRecursosRevisados }}
                    </h3>
                    <p>
                        Revisados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <a href="{{ path('admin_recurso_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>
                        {{ numRecursosNoRevisados }}
                    </h3>
                    <p>
                        Por revisar
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-spinner"></i>
                </div>
                <a href="{{ path('admin_recurso_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        {{ numRecursosOficiales }}
                    </h3>
                    <p>
                        Oficiales
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-university"></i>
                </div>
                <a href="{{ path('admin_recurso_lista') }}" class="small-box-footer">
                    Ver todos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div>
    <h2 class="page-header">Datos de soporte </h2>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        {{ numTickets }}
                    </h3>
                    <p>
                        Tickets
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-ticket"></i>
                </div>
                <a href="{{ path('admin_ticket_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>
                        {{ numTicketsAbiertos }}
                    </h3>
                    <p>
                        Tickets abiertos
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-unlock"></i>
                </div>
                <a href="{{ path('admin_ticket_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3>
                        {{ numTicketsCerrados }}
                    </h3>
                    <p>
                        Tickets cerrados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
                <a href="{{ path('admin_ticket_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        {#<div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-navy">
                <div class="inner">
                    <h3>
                        {{ numAsignaturas }}
                    </h3>
                    <p>
                        Errores
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-bug"></i>
                </div>
                <a href="{{ path('admin_asignatura_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-black">
                <div class="inner">
                    <h3>
                        {{ numAsignaturas }}
                    </h3>
                    <p>
                        Errores solucionados
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-fire-extinguisher"></i>
                </div>
                <a href="{{ path('admin_asignatura_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->#}
    </div>
    <h2 class="page-header">Otros datos interesantes </h2>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        {{ numAsignaturas }}
                    </h3>
                    <p>
                        Asignaturas
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="{{ path('admin_asignatura_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>
                        {{ numRoles }}
                    </h3>
                    <p>
                        Roles
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-unlock-alt"></i>
                </div>
                <a href="{{ path('admin_roles_index') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        {#<div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        0
                    </h3>
                    <p>
                        Sugerencias
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div>
                <a href="{{ path('admin_asignatura_lista') }}" class="small-box-footer">
                    Ver todas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->#}
    </div>
{% endblock %}