{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Roles :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Modificar un rol
        <span>Roles</span>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Roles</li>
        <li class="active">Modificar</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-success box-solid">
                <div class="box-header">
                    <h3 class="box-title">Modificar rol</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.nombre)}}
                        {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Ej: ROLE_USER'}})}}
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Modificar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
