{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Crear un usuario :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Crear un usuario
        <small>Usuarios</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Usuario</li>
        <li class="active">Crear</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Crear un nuevo usuario</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.username)}}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Nombre de usuario'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password)}}
                        {{ form_errors(form.password) }}
                        {{ form_widget(form.password, {'attr':{'class':'form-control','placeholder':'Contraseña'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email)}}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Importante: micorreo@alumnos.urjc.es'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nombre)}}
                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Nombre'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.apellidos)}}
                        {{ form_errors(form.apellidos) }}
                        {{ form_widget(form.apellidos, {'attr':{'class':'form-control','placeholder':'Apellidos'}}) }}
                    </div>
                    <button class="btn btn-primary center-block" type="submit">Crear</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}