<html>
    <head>
        <title>Email de confirmación</title>
    </head>
    <body>
        Hola {{usuario.nombre|capitalize}},
        el Equipo de Administración de URJavaC te ha registrado en el repositorio
        de asignaturas y recursos que hemos creado para los alumnos de la ETSII
        de la Universidad Rey Juan Carlos.
        <br>
        Los datos de tu cuenta son los siguientes:<br>
        Nombre: {{ usuario.nombre }}<br>
        Apellidos: {{ usuario.apellidos }}<br>
        Nombre de usuario: {{ usuario.username }}<br>
        Contraseña: {{ password }}<br>
        Email: {{ usuario.email }}<br>
        <br>
        Para iniciar sesión es necesario que actives tu cuenta. Puedes hacerlo pinchando
        en el enlace que tienes a continuación:
        <a href="{{ url('usuario_activar',{'idusuario': usuario.id, 'token':usuario.Cod_validacion}) }}"> Activar cuenta</a>
        <br>
        Si tienes algún problema o pregunta no dudes en mandarnos un email a: admin@urjavac.com
        o bien enviando un nuevo ticket de ayuda a traves del repositorio. Estaremos encantados de responderte.
        <br>
        Un saludo.
        <br>
        Los Administradores de URJavaC.
    </body>
</html>

