{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Lista de usuarios :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Lista de usuarios
        <small>Usuarios</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Usuarios</li>
        <li class="active">Modificar / Eliminar</li>
    </ol>
{% endblock %}

{% block contenido %}
    {%if result == 'eliminar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>El usuario se ha eliminado correctamente.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    {%if result == 'modificar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>El usuario se ha modificado correctamente.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">Lista de usuarios</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="text-info">
                            <tr>
                                <th>ID</th>
                                <th>Nombre de usuario</th>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Rol/Roles</th>
                                <th>¿Activo?</th>
                                <th>Aciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if usuarios is empty %}
                                <tr class="text-center">
                                    <td colspan="11">No hay ningún usuario en la base de datos. <a href="{{ path('admin_usuario_crear') }}">Crear uno ahora mismo.</a></td>
                                </tr>
                            {% else %}
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td>{{ usuario.id }}</td>
                                        <td>{{ usuario.username }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.nombre }}</td>
                                        <td>{{ usuario.apellidos }}</td>
                                        <td>
                                            {% for rol in usuario.roles %}
                                                {{ rol.nombre }}
                                            {% endfor %}
                                        </td>
                                        <td>{{ (usuario.enabled == 1) ? "Sí":"No" }}</td>
                                        <td>
                                            {% if usuario.enabled %}
                                                <a class="button-link" href="{{path('admin_usuario_activar',{'idUsuario':usuario.id, 'estado':usuario.enabled})}}">
                                                    <button class="btn btn-danger btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-exclamation-triangle"></i> Desactivar
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a class="button-link " href="{{path('admin_usuario_activar',{'idUsuario':usuario.id, 'estado':usuario.enabled})}}">
                                                    <button class="btn btn-success btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-check-square-o"></i> Activar
                                                    </button>
                                                </a>
                                            {% endif%}
                                            <a class="button-link" href="{{path('admin_usuario_modificar',{'idUsuario':usuario.id})}}">
                                                <button class="btn btn-info btn-xs button-celda button-link" type="button">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </button>
                                            </a>
                                            <a class="button-link" href="{{path('admin_usuario_eliminar',{'idUsuario':usuario.id})}}">
                                                <button class="btn btn-warning btn-xs  button-celda button-link" type="button">
                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}