{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Modificar usuario :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Modificar usuario
        <small>Usuarios</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Usuario</li>
        <li class="active">Modificar</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Modificar usuario</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.roles)}}
                        {{ form_errors(form.roles)}}
                        {{ form_widget(form.roles, {'attr':{'class':'form-control'}})}}
                        <span class="help-block">El rol ROLE_ADMIN incluye ROLE_USER </span>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email)}}
                        {{ form_errors(form.email)}}
                        {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Importante: miemail@alumnos.urjc.es'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.username)}}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Nombre de usuario.'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nombre)}}
                        {{ form_errors(form.nombre)}}
                        {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Nombre personal'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.apellidos)}}
                        {{ form_errors(form.apellidos)}}
                        {{ form_widget(form.apellidos, {'attr':{'class':'form-control','placeholder':'Apellidos'}})}}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Modificar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}