/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-oct-2015, 21:08:25
    Author     : Javier
*/
table i.flaticon:before {
    font-size: 30px !important;
}

td {
    vertical-align: central
}