{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Cursos :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Cursos
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Recursos</li>
        <li>Cursos</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success box-solid">
                <div class="box-header">
                    <h3 class="box-title">Crear un nuevo curso</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.curso)}}
                        {{ form_widget(form.curso, {'attr':{'class':'form-control','placeholder':'Ej: 2013/14', 'autofocus':''}})}}
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Agregar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success box-solid">
                <div class="box-header">
                    <h3 class="box-title">Listado de cursos</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead class="text-info">
                                <tr>
                                    <th>ID</th>
                                    <th>Curso</th>
                                    <th>Aciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cursos is empty %}
                                    <tr class="text-center">
                                        <td colspan="11">No hay ningún curso en la base de datos.</td>
                                    </tr>
                                {% else %}
                                    {% for curso in cursos %}
                                        <tr>
                                            <td>{{ curso.id }}</td>
                                            <td>{{ curso.curso }}</td>
                                            <td>
                                                <a class="button-link" href="{{path('admin_curso_modificar',{'idCurso':curso.id})}}">
                                                    <button class="btn btn-info btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-pencil"></i> Editar
                                                    </button>
                                                </a>
                                                <a class="button-link" href="{{path('admin_curso_eliminar',{'idCurso':curso.id})}}">
                                                    <button class="btn btn-warning btn-xs  button-celda button-link" type="button">
                                                        <i class="fa fa-trash-o"></i> Eliminar
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
