{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Inicio :: Repositorio URJavaC{% endblock %}

{% block contenido %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="text text-primary">Bienvenido/a al repositorio 2.0 de URJavaC.</h1>
            <p>Regístrate para compartir y descargar muchos recursos. Prepara los exámenes de la mejor manera con apuntes de tus compañeros de clase.</p>
            {%if not is_granted('IS_AUTHENTICATED_FULLY')%}
                <a href="{{ path('registro') }}" class="button-link"><button class="btn btn-primary">Registrarme</button></a>
                <a href="{{ path('login') }}" class="button-link"><button class="btn btn-info">Entrar</button></a>
            {% else %}
                <a href="{{ path('asignatura_ver_todas') }}" class="button-link"><button class="btn btn-primary">Ver asignaturas</button></a>
                <a href="{{ path('recurso_ver_todos') }}" class="button-link"><button class="btn btn-info">Ver recursos</button></a>
            {% endif%}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="center-block img-circle img-responsive" src="{{ asset('public/img/apuntes.jpg') }}" alt="Apuntes">
            <h2 class="text-center">Apuntes</h2>
            <p class="text-center">¿No se te da bien coger apuntes?¿Has faltado a clase? Encuentra apuntes de cualquier asignatura o comparte los tuyos.</p>
        </div>
        <div class="col-lg-4">
            <img class="center-block img-circle img-responsive" src="{{ asset('public/img/examen.jpg') }}" alt="Exámenes">
            <h2 class="text-center">Exámenes</h2>
            <p class="text-center">¿Tienes un exámen y no has visto ninguno de cursos anteriores? ¿Tienes exámenes de otros años? Busca exámenes de cursos anteriores o compártelos.</p>
        </div>
        <div class="col-lg-4">
            <img class="center-block img-circle img-responsive" src="{{ asset('public/img/ejercicios.jpg') }}" alt="Ejercicios">
            <h2 class="text-center">Ejercicios</h2>
            <p class="text-center">¿Problemas con los ejercicios que te mandan? ¿Sabes hacer todos los ejercicios? Busca los ejercicios resueltos o compártelos con tus compañeros.</p>
        </div>
    </div>
    <br>
{% endblock %}