{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Iniciar sesión :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('login') }}">Iniciar sesión</a>
    </li>
{% endblock %}


{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info text-center">
                <p>De momento <strong>no es posible iniciar sesión con la cuenta de URJavaC</strong> por lo que es necesario que te registres de nuevo.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error.message|trans }}
                </div>
            {% endif %}
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title"><strong>Iniciar sesión </strong></h3></div>
                <div class="panel-body">
                    <form role="form" action="{{ path('login_check') }}" method="POST">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <label>Nombre de usuario:</label>
                            <input type="text" class="form-control" name="_username" placeholder="Introduce tu nombre de usuario">
                        </div>
                        <div class="form-group">
                            <label>Contraseña:</label>
                            <input type="password" class="form-control" name="_password" placeholder="Introduce tu contraseña">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="_remember_me" type="checkbox">Recordarme
                            </label>
                        </div>
                        <button type="submit" class="btn btn-sm btn-info center-block">Entrar</button>
                    </form>
                    <p class="text-center"><a href="{{ path('registro') }}">No tengo cuenta y quiero registrarme.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}