{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Iniciar sesión :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('registro') }}">Registro</a>
    </li>
{% endblock %}


{% block contenido %}
    <div class="row">
        <div class="alert alert-info col-lg-6 col-lg-offset-3">
            <strong>¡Bienvenido!</strong> Este es el formulario para registrarte en el repositorio de URJavaC. Recuerda que si te registras es porque aceptas los términos y condiciones de uso.
        </div>
    </div>
    {% if error!=null %}
        <div class="row">
            <div class="alert alert-danger col-lg-6 col-lg-offset-3">
                {% for mensaje in error %}
                    <strong><i class="fa fa-times-circle"></i></strong> {{ mensaje }}<br>
                    {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="well col-lg-6 col-lg-offset-3">
            {{ form_start(form) }}
            {{ form_label(form.username)}}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Nombre de usuario'}}) }}
            {{ form_label(form.password)}}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr':{'class':'form-control','placeholder':'Contraseña'}}) }}
            {{ form_label(form.email)}}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Importante: micorreo@alumnos.urjc.es'}}) }}
            {{ form_label(form.nombre)}}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Nombre'}}) }}
            {{ form_label(form.apellidos)}}
            {{ form_errors(form.apellidos) }}
            {{ form_widget(form.apellidos, {'attr':{'class':'form-control','placeholder':'Apellidos'}}) }}
            <br>
            <button class="btn btn-info center-block" type="submit">Registrarme</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}