{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Validar usuario :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('login') }}">Validar usuario</a>
    </li>
{% endblock %}


{% block contenido %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if result == 'usuario_activo' %}
                <div class="alert alert-warning">
                    El usuario ya se encuentra activado. Si no puede iniciar sesión contacte con los administradores en: <a href="mailto:admin@urjavac.com">admin@urjavac.com</a>.
                </div>
            {% elseif result == 'activar_ok' %}
                <div class="alert alert-success">
                    Has activado la cuenta correctamente. Ahora ya puedes iniciar sesión.
                </div>
            {% elseif result == 'error_null' %}
                <div class="alert alert-danger">
                    Upps!. Parece que no has seguido una ruta correcta.
                </div>
            {% elseif result == 'error_token' %}
                <div class="alert alert-danger">
                    El código de activación no es correcto para este usuario. Si no puede iniciar sesión contacte con los administradores en: <a href="mailto:admin@urjavac.com">admin@urjavac.com</a>.
                </div>
            {% elseif result == 'validar' %}
                <div class="alert alert-info text-center">
                    Se ha registrado correctamente.
                    <br>
                    Hemos enviado un email con el código de activación a su correo. Por favor, active su cuenta antes de iniciar sesión.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}