{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Adminitradores :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Lista de adminitradores
        <small>Usuarios</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Adminitradores</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">Lista de adminitradores</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="text-info">
                            <tr>
                                <th>ID</th>
                                <th>Nombre de usuario</th>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Rol/Roles</th>
                                <th>¿Activo?</th>
                                    {#                                <th>Aciones</th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% if administradores is empty %}
                                <tr class="text-center">
                                    <td colspan="11">No hay ningún adminitrador en la base de datos.</td>
                                </tr>
                            {% else %}
                                {% for administrador in administradores %}
                                    <tr>
                                        <td>{{ administrador.id }}</td>
                                        <td>{{ administrador.username }}</td>
                                        <td>{{ administrador.email }}</td>
                                        <td>{{ administrador.nombre }}</td>
                                        <td>{{ administrador.apellidos }}</td>
                                        <td>
                                            {% for rol in administrador.roles %}
                                                {{ rol.nombre }}
                                            {% endfor %}
                                        </td>
                                        <td>{{ (administrador.enabled == 1) ? "Sí":"No" }}</td>
                                        {#<td>
                                            {% if administrador.enabled %}
                                                <a class="button-link" href="{{path('admin_administrador_activar',{'idUsuario':administrador.id, 'estado':administrador.enabled})}}">
                                                    <button class="btn btn-danger btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-exclamation-triangle"></i> Desactivar
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a class="button-link " href="{{path('admin_administrador_activar',{'idUsuario':administrador.id, 'estado':administrador.enabled})}}">
                                                    <button class="btn btn-success btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-check-square-o"></i> Activar
                                                    </button>
                                                </a>
                                            {% endif%}
                                            <a class="button-link" href="{{path('admin_administrador_modificar',{'idUsuario':administrador.id})}}">
                                                <button class="btn btn-info btn-xs button-celda button-link" type="button">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </button>
                                            </a>
                                            <a class="button-link" href="{{path('admin_administrador_eliminar',{'idUsuario':administrador.id})}}">
                                                <button class="btn btn-warning btn-xs  button-celda button-link" type="button">
                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                </button>
                                            </a>
                                        </td>#}
                                    </tr>
                                {%endfor%}
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}