{% extends "UrjavacRepoBundle::layout.html.twig"  %}

{% block titulo %} Agregar recurso :: Repositorio {% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('recurso_agregar') }}">Subir recurso</a>
    </li>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info text-center">
                <strong>Aviso: </strong>no se pueden compartir recursos con <strong>derechos de autor</strong>.<br> Los Administradores revisaremos el contenido que se sube y lo <strong>eliminaremos</strong> si no cumple esta condición.
            </div>
        </div>
        {% if result %}
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success text-center">
                    <strong>Se ha subido correctamente el recurso. Muchas gracias por tu aporte.</strong>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Subir recurso</h3>
                </div>
                <div class="panel-body">
                    <form action="#" method="post" {{ form_enctype(form) }}>
                        {#                        <input type="hidden" name="_upload" value="{{ csrf_token('upload_recurso') }}">#}
                        {%if form_errors(form)%}
                            <div class="alert alert-danger">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form_label(form.idasignatura) }}
                            {{ form_widget(form.idasignatura, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Ej: Apuntes de estructuras de datos'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.descripcion) }}
                            {{ form_widget(form.descripcion, {'attr':{'class':'form-control','placeholder':'Ej: Todos los apuntes. Incluye listas simulando memoria dinámica.'}})}}
                            <p class="help-block">Máximo: 140 caracteres.</p>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.curso) }}
                            {{ form_widget(form.curso, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.tipo) }}
                            {{ form_widget(form.tipo, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.formato) }}
                            {{ form_widget(form.formato, {'attr':{'class':'form-control'}})}}
                        </div>
                        {#<div class="form-group">
                            {{ form_label(form.idusuario) }}
                            {{ form_widget(form.idusuario, {'attr':{'class':'form-control'}})}}
                        </div>#}
                        <div>
                            <label>
                                <strong>¿Es un recurso oficial?</strong>
                                {{ form_widget(form.oficial)}}
                            </label>
                            <p class="help-block">Nos referimos a si lo ha compartido un profesor.</p>
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.file)}}
                            {{ form_errors(form.file)}}
                        </div>
                        {{ form_widget(form.reset,{'attr':{'class':'btn btn-default bnt-sm'}})}}
                        {{ form_widget(form.enviar,{'attr':{'class':'btn btn-info bnt-sm'}})}}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
