{% extends 'UrjavacRepoBundle::layout.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('public/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalles del recurso</h3>
                </div>
                {% if not recurso.revisado %}
                    <div class="panel-body  text-center">
                        <span class="text-danger">Todavía no puedes descargar este recurso porque aún tenemos que revisarlo.</span>
                    </div>
                    {#                {% else %}#}
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Nombre:</th>
                            <td>{{ recurso.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripción:</th>
                            <td>{{ recurso.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Asignatura:</th>
                            <td>{{ recurso.idasignatura.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Tipo:</th>
                            <td>{{ recurso.tipo.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Formato:</th>
                            <td>{{ recurso.formato }}</td>
                        </tr>
                        <tr>
                            <th>Curso:</th>
                            <td>{{ recurso.curso }}</td>
                        </tr>
                        <tr>
                            <th>Enlace:</th>
                                {% if recurso.revisado %}
                                <td><a href="{{ recurso.webPath }}" target="_blank"><button class="btn btn-info btn-xs"><i class="fa fa-download"></i> Descargar</button></a></td>
                            {% else %}
                                <td><a href="{{ recurso.webPath }}" target="_blank"><button class="btn btn-info btn-xs" disabled="disabled"><i class="fa fa-download"></i> Descargar</button></a></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Oficial:</th>
                            <td>
                                {%if recurso.oficial%}
                                    Sí
                                {%else%}
                                    No
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <th>Uploader:</th>
                            <td>{{ recurso.idusuario.username }}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="">Puntuacion: {{ recurso.valorPositivo }} votos positivos / {{ recurso.valorNegativo }} votos negativos.</div>
                    <div class="">
                        {% if app.user.hasVotadoPositivo(recurso) %}
                            <a href="{{ path('recursos_quitar_voto_positivo',{'idrecurso':recurso.id}) }}" class="button-link">
                                <button class="btn btn-xs btn-success"><i class="fa fa-thumbs-o-up"></i> Quitar +1</button>
                            </a>
                        {%else%}
                            <a href="{{ path('recursos_voto_positivo',{'idrecurso':recurso.id}) }}" class="button-link">
                                <button class="btn btn-xs btn-success"><i class="fa fa-thumbs-o-up"></i> Votar +1</button>
                            </a>
                        {%endif%}
                        {% if app.user.hasVotadoNegativo(recurso) %}
                            <a href="{{ path('recursos_quitar_voto_negativo', {'idrecurso':recurso.id}) }}" class="button-link">
                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-o-down"></i> Quitar -1</button>
                            </a>
                        {%else%}
                            <a href="{{ path('recursos_voto_negativo', {'idrecurso':recurso.id}) }}" class="button-link">
                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-o-down"></i> Votar -1</button>
                            </a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h4 class="text-muted">Escribe un comentario sobre este recurso</h4>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.mensaje) }}
                    {{ form_widget(form.mensaje,{'attr':{'class':'form-control'}, 'id':'ckeditor'}) }}
                </div>
                {{ form_widget(form.comentar,{'attr':{'class':'btn btn-info'}}) }}
                {{ form_end(form) }}
            </div>
            <hr>
        </div>
    </div>
    {%if not listaMensajes is empty%}
        {% for mensaje in listaMensajes%}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well">
                        <div>
                            <strong>Autor: </strong>
                            {{ mensaje.autor.username }}
                        </div>
                        <strong>Fecha y hora: </strong>{{ mensaje.fecha|date('d-m-Y H:i') }}<br>
                        <strong>Comentario:</strong><br>
                        {{mensaje.mensaje|nl2br}}
                        <br>
                        {% if mensaje.autor.id == app.user.id or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('recurso_mensaje_borrar',{'idmensaje':mensaje.id,'idrecurso':recurso.id}) }}"><i class="fa fa-trash-o"></i> Borrar</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="well">
                    <h4 class="text-muted">No hay ningún comentario todavía.</h4>
                </div>
            </div>
        </div>
    {%endif%}

{% endblock %}
