{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Recursos :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('recurso_ver_todos') }}">Lista de recursos</a>
    </li>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <p class="panel-title" >
                        <span class="glyphicon glyphicon-search"></span> Filtros
                    </p>
                </div>
                <div class="panel-body">
                    {{form_start(form)}}
                    {% for radio in form.radios %}
                        <div class="radio-button">
                            {{ form_widget(radio) }}
                            {{ form_label(radio) }}
                        </div>
                    {%endfor%}
                    <br>
                    <div class="form-group">
                        {{ form_label(form.asignatura) }}
                        {{ form_widget(form.asignatura, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.curso) }}
                        {{ form_widget(form.curso, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.formato) }}
                        {{ form_widget(form.formato, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-info btn-sm center-block"><i class="fa fa-search"></i> Filtrar</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            {% if recursos is empty %}
                <div class="well">
                    <h4 class="text-muted text-center">No hay ningún recurso con estos criterios de búsqueda o en la base de datos.</h4>
                </div>
            {% else %}
                {% for recurso in recursos%}
                    <div class="well well-recurso">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 hidden-xs">
                                <div class="icon-recurso">
                                    <a href="{{ path('recurso_detalles',{'idrecurso':recurso.id}) }}"><i class="{{recurso.formato.icono}} text-muted"></i></a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-11">
                                <ul class="info-recurso">
                                    <li>
                                        <a href="{{ path('recurso_detalles',{'idrecurso':recurso.id}) }}">
                                            <h4 class="nombre-recurso">{{recurso.nombre}}</h4>
                                        </a>
                                        {%if recurso.oficial%}
                                            <label class="label label-success"><i class="fa fa-university"></i> Oficial</label>
                                        {% else %}
                                            <label class="label label-warning"><i class="fa fa-users"></i> No oficial</label>
                                        {%endif%}
                                        {% if recurso.revisado %}
                                            <label class="label label-success"><i class="fa fa-check"></i> Revisado</label>
                                        {% else %}
                                            <label class="label label-warning"><i class="fa fa-times"></i> No revisado</label>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <p class="descripcion-recurso">{{recurso.descripcion}}</p>
                                    </li>
                                    <li>
                                        <div class="asignatura-recurso">
                                            <strong>Asignatura:</strong>
                                            {{recurso.idasignatura.nombre}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="curso-recurso">
                                            <strong>Curso:</strong>
                                            {{recurso.curso.curso}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tipo-recurso">
                                            <strong>Tipo:</strong>
                                            {{recurso.tipo.nombre}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class=""><strong>Puntuacion:</strong> {{ recurso.valorPositivo }} votos positivos / {{ recurso.valorNegativo }} votos negativos.</div>
                                    </li>
                                    <li>
                                        <a style="text-decoration: none;" href="{{ path('recurso_detalles',{'idrecurso':recurso.id}) }}">
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-info"></i> Ver detalles</button>
                                        </a>
                                        {% if not recurso.revisado %}
                                            <button class="btn btn-info btn-xs" disabled="disabled"><i class="fa fa-download"></i> Descargar</button>
                                        {% else %}
                                            <a style="text-decoration: none;" href="{{ recurso.webPath }}" target="blank">
                                                <button class="btn btn-info btn-xs"><i class="fa fa-download"></i> Descargar</button>
                                            </a>
                                        {% endif %}
                                        {% if app.user.hasVotadoPositivo(recurso) %}
                                            <a href="{{ path('recursos_quitar_voto_positivo',{'idrecurso':recurso.id}) }}" class="button-link">
                                                <button class="btn btn-xs btn-success"><i class="fa fa-thumbs-o-up"></i> Quitar +1</button>
                                            </a>
                                        {%else%}
                                            <a href="{{ path('recursos_voto_positivo',{'idrecurso':recurso.id}) }}" class="button-link">
                                                <button class="btn btn-xs btn-success"><i class="fa fa-thumbs-o-up"></i> Votar +1</button>
                                            </a>
                                        {%endif%}
                                        {% if app.user.hasVotadoNegativo(recurso) %}
                                            <a href="{{ path('recursos_quitar_voto_negativo', {'idrecurso':recurso.id}) }}" class="button-link">
                                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-o-down"></i> Quitar -1</button>
                                            </a>
                                        {%else%}
                                            <a href="{{ path('recursos_voto_negativo', {'idrecurso':recurso.id}) }}" class="button-link">
                                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-o-down"></i> Votar -1</button>
                                            </a>
                                        {%endif%}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}
        </div>
    </div>
{% endblock %}


