{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Recursos :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('recurso_ver_todos') }}">Lista de recursos</a>
    </li>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de recursos de: {{ asignatura }}</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="text-info">
                            <tr>
                                <th class="text-center">Asignatura</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Curso</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Formato</th>
                                <th class="text-center">Oficial</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center" colspan="2">Aciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recursos %}
                                {% for recurso in recursos %}
                                    <tr>
                                        <td><a href="{{ path('recurso_asignatura',{'idasignatura':recurso.idasignatura.identificador}) }}">{{ recurso.idasignatura.identificador }}</a></td>
                                        <td>
                                            {{ recurso.nombre }}
                                        </td>
                                        <td>{{ recurso.descripcion }}</td>
                                        <td>{{ recurso.curso.curso }}</td>
                                        <td>{{ recurso.tipo.nombre }}</td>
                                        <td>
                                            {{ recurso.formato.nombre }}
                                        </td>
                                        <td>
                                            {% if recurso.oficial %}
                                                <i class="fa fa-check-circle-o"></i> Sí
                                            {% else %}
                                                <i class="fa fa-times-circle-o"></i> No
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if recurso.revisado %}
                                                <label class="label label-success">Revisado</label>
                                            {% else %}
                                                <label class="label label-danger">Por revisar</label>
                                            {% endif %}
                                        </td>
                                        {% if recurso.revisado%}
                                            <td>
                                                <a class="button-link" href="{{path('recurso_detalles',{'idrecurso':recurso.id})}}">
                                                    <button class="btn btn-xs btn-default" type="button">
                                                        <i class="fa fa-eye"></i> Ver detalles</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="button-link" href="{{recurso.enlace}}" target="blank">
                                                    <button class="btn btn-xs btn-primary" type="button">
                                                        <i class="fa fa-download"></i> Descargar
                                                    </button>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td colspan="2">
                                                <p class="text-center">No hay acciones</p>
                                            </td>
                                        {% endif%}
                                    </tr>
                                {%endfor%}
                            {% else %}
                                <tr>
                                    <td colspan="10" class="text-center">No hay ningún recurso disponible.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


