.icon-recurso > a{
    text-decoration: none;
}
.icon-recurso{
    position: relative;
    margin:10px;
    left: -30px;
    top:-10px;
    height: 40px;
}
.well-recurso{
    padding: 15px;
}
ul.info-recurso{
    min-height: 80px;
    height: auto;
    list-style: none;
    margin: 0;
}
h4.nombre-recurso{
    margin: 0;
    display: inline;
}
p.descripcion-recurso{
    margin: 0;
}

.bg-azul{
    background-color: #FAFAFA;
}
.login-menu{
    padding: 10px;
}
#usuario-login{
    margin-bottom: 10px;
}
#password-login{
    margin-bottom: 10px;
}
#boton-login{
    margin-bottom: -10px;
}
a.button-link{
    text-decoration: none;
}
.button-celda{
    margin-bottom: 3px;
    display: block;
}
body{
    background-image: url('../img/denim.png');
    background-repeat: repeat;
    height: auto;
}
html{
    height: 100%;
}
div.boxed{
    background-color: #fff;
    padding-top: 5em;
    height:auto;
    min-height: 93%;
}
.footer {
    padding-top: 10px;
    position: relative;
    bottom: 0 !important;
    width: auto !important;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #eee;
    padding: 0 0 0 0 !important;
}
.credit{
    margin: 20px;
}
#container-footer{
    padding: 0 0 0 0;
}
.menu-tickets{
    padding: 8px 0;
}

.nav-header{
    display:block;
    padding:3px 15px;
    font-size:11px;
    font-weight:bold;
    line-height:20px;
    color:#999999;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform:uppercase;
}