@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
        url("../fonts/flaticon.woff") format("woff"),
        url("../fonts/flaticon.ttf") format("truetype"),
        url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 7em;
    font-style: normal;
    margin-left: 20px;
}.flaticon-7z:before {
    content: "\e000";
}
.flaticon-bin:before {
    content: "\e001";
}
.flaticon-class:before {
    content: "\e002";
}
.flaticon-css:before {
    content: "\e003";
}
.flaticon-doc:before {
    content: "\e004";
}
.flaticon-docx:before {
    content: "\e005";
}
.flaticon-exe:before {
    content: "\e006";
}
.flaticon-html:before {
    content: "\e007";
}
.flaticon-jar:before {
    content: "\e008";
}
.flaticon-jpg:before {
    content: "\e009";
}
.flaticon-jsp:before {
    content: "\e00a";
}
.flaticon-odt:before {
    content: "\e00b";
}
.flaticon-pdf:before {
    content: "\e00c";
}
.flaticon-photoshop:before {
    content: "\e00d";
}
.flaticon-png:before {
    content: "\e00e";
}
.flaticon-pps:before {
    content: "\e00f";
}
.flaticon-ppt:before {
    content: "\e010";
}
.flaticon-pptx:before {
    content: "\e011";
}
.flaticon-rar:before {
    content: "\e012";
}
.flaticon-txt:before {
    content: "\e013";
}
.flaticon-xls:before {
    content: "\e014";
}
.flaticon-xlsx:before {
    content: "\e015";
}
.flaticon-xml:before {
    content: "\e016";
}
.flaticon-zip:before {
    content: "\e017";
}
