{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %}Asignaturas :: Repositorio{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('asignatura_ver_todas') }}">Lista de asignaturas</a>
    </li>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de asignaturas</h3>
                </div>
                <div class="panel-body">
                    A continuación, está la lista de todas las asignaturas de los grados y dobles grados de Ingeniería Informática, Software y Computadores.
                    <ul>
                        <li>Pincha en el enlace del identificador o en el nombre para ver todos los recursos disponibles de esa asignatura.</li>
                        <li>Pulsa en el botón <strong>Seguir</strong> de una asignatura para recibir un email cada vez que se publique un recurso nuevo en esa asignatura.</li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="text-info">
                            <tr>
                                <th>Favorito</th>
                                <th>ID Asignatura</th>
                                <th>Nombre</th>
                                <th>Número de recursos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for asignatura in asignaturas%}
                                <tr>
                                    {% if asignatura.hasFavoritaDe(app.user) %}
                                        <td>
                                            <a href="{{ path('asignatura_favorita',{'idAsignatura':asignatura.id,'estado':true}) }}">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-star-o"></i> Dejar de seguir
                                                </button>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path('asignatura_favorita',{'idAsignatura':asignatura.id,'estado':false}) }}">
                                                <button class="btn btn-xs btn-info">
                                                    <i class="fa fa-star"></i> Seguir
                                                </button>
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('recurso_asignatura',{'idasignatura':asignatura.identificador}) }}">
                                            {{ asignatura.identificador }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('recurso_asignatura',{'idasignatura':asignatura.identificador}) }}">
                                            {{ asignatura.nombre }}
                                        </a>
                                    </td>
                                    {%if (asignatura.nrecursos == 0) %}
                                        <td>No hay recursos disponibles.</td>
                                    {% elseif (asignatura.nrecursos == 1) %}
                                        <td>Hay {{ asignatura.nrecursos }} recurso disponible</td>
                                    {% elseif (asignatura.nrecursos > 1) %}
                                        <td>Hay {{ asignatura.nrecursos }} recursos disponibles</td>
                                    {% endif %}
                                </tr>
                                </a>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


