<html lang="es_ES">
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link rel="shortcut icon" type='image/x-icon' href="{{asset('favicon.ico')}}" />
        <title>{% block titulo %}Repositorio :: URJavaC {% endblock %}</title>

        <link type="text/css" rel="stylesheet" href="{{ asset('public/css/all.css') }}">
        {% block scripts %}
        {% endblock %}
    </head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54197042-1', 'auto');
        ga('send', 'pageview');

    </script>
    <body>
        {% block navbar %}
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('repo_index') }}">Repo URJavaC</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% block menu %}
                                <li><a href="{{ path('repo_index') }}"><i class="fa fa-home"></i> Inicio</a></li>
                                <li><a href="{{ path('asignatura_ver_todas') }}"><i class="fa fa-book"></i> Asignaturas</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file"></i> Recursos <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('recurso_ver_todos') }}">Ver todos</a></li>
                                        <li><a href="{{ path('recurso_agregar') }}">Subir recurso</a></li>
                                    </ul>
                                </li>
                            {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("ROLE_USER") %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bienvenido {{ app.user.nombre|capitalize }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="{{ path('admin_index') }}"><i class="fa fa-key"></i> Administración</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ path('ticket_index') }}"><i class="fa fa-ticket"></i> Ayuda/Errores</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in"></i> Iniciar sesión <b class="caret"></b></a>
                                    <div class="dropdown-menu login-menu">
                                        <form method="post" action="{{ path('login_check') }}">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <div class="form-group">
                                                <label class="control-label">Usuario:</label>
                                                <input class="form-control input-sm" id="usuario-login" type="text" name="_username" placeholder="Nombre de usuario">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Contraseña</label>
                                                <input class="form-control input-sm" id="password-login" type="password" name="_password" placeholder="Contraseña">
                                            </div>
                                            <div class="checkbox-inline">
                                                <label>
                                                    <input class="" type="checkbox" id="remember_me" name="_remember_me" value="on" placeholder="Recordarme"/>
                                                    Recordarme
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-info btn-sm center-block" id="boton-login" >Entrar</button>
                                        </form>
                                        <div class="center-block text-center">
                                            <a class="text-info" href="{{ path('registro') }}">Registrarme</a>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        {% endblock %}
        <div class="container boxed">
            {% block contenido %}
            {% endblock %}
        </div>
        <div class="container" id="container-footer">
            <div class="footer">
                <div class="container text-center">
                    <p class="text-muted credit">Todos los derechos reservados. Creado por el Equipo de Administación de URJavaC.
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_index') }}">Ir al panel de administración</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <script src="{{ asset('public/js/jquery.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    </body>
</html>