<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type='image/x-icon' href="{{asset('favicon.ico')}}" />
        {% block titulo %}
            <title>AdminLTE | Dashboard</title>
        {% endblock %}
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% block css %}
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/all.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/iCheck/all.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/flaticon.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/font-awesome.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/ionicons.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('public/css_admin/custom.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% block scripts %}
        {% endblock %}

    </head>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-54197042-1', 'auto');
        ga('send', 'pageview');</script>
    <body class="skin-blue fixed">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="{{path('admin_index')}}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Repo URJavaC
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Bienvenido {{ app.user.username|capitalize }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('repo_index') }}"><i class="fa fa-sign-out"></i> Volver al repo</a>
                                </li>
                                <li>
                                    <a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="{{path('admin_index')}}">
                                <i class="fa fa-dashboard"></i> <span>Inicio</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>Usuarios</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{path('admin_usuario_crear')}}"><i class="fa fa-angle-double-right"></i> Crear</a></li>
                                <li><a href="{{path('admin_usuario_lista')}}"><i class="fa fa-angle-double-right"></i> Modificar / Eliminar</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Asignaturas</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{path('admin_asignatura_crear')}}"><i class="fa fa-angle-double-right"></i> Crear</a></li>
                                <li><a href="{{path('admin_asignatura_lista')}}"><i class="fa fa-angle-double-right"></i> Modificar / Eliminar</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file-text"></i> <span>Recursos</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{path('admin_recurso_crear')}}"><i class="fa fa-angle-double-right"></i> Subir</a></li>
                                <li><a href="{{path('admin_recurso_lista')}}"><i class="fa fa-angle-double-right"></i> Modificar / Eliminar</a></li>
                                <li><a href="{{path('admin_curso_index')}}"><i class="fa fa-angle-double-right"></i> Cursos</a></li>
                                <li><a href="{{path('admin_tiporecurso_index')}}"><i class="fa fa-angle-double-right"></i> Tipos</a></li>
                                <li><a href="{{path('admin_formato_index')}}"><i class="fa fa-angle-double-right"></i> Formatos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{path('admin_administradores_index')}}">
                                <i class="fa fa-key"></i> <span>Administradores</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('admin_roles_index')}}">
                                <i class="fa fa-unlock-alt"></i> <span>Roles</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_ticket_lista') }}">
                                <i class="fa fa-ticket"></i> <span>Tickets SOS</span>
                                {#                                <small class="badge pull-right bg-aqua">3</small>#}
                            </a>
                        </li>
                        {#<li>
                            <a href="">
                                <i class="fa fa-info-circle"></i> <span>Sugerencias</span>
                                                                <small class="badge pull-right bg-red">3</small>
                        </a>
                        </li>#}
                        {#<li>
                            <a href="">
                                <i class="fa fa-bug"></i> <span>Errores</span>
                                <small class="badge pull-right bg-yellow">12</small>
                            </a>
                        </li>#}
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block titulo_principal %}
                        <h1>
                            Blank page
                            <small>Control panel</small>
                        </h1>
                    {%endblock%}
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Blank page</li>
                        </ol>
                    {% endblock %}
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block contenido %}
                    {% endblock %}
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        {% block js %}
            <script src="{{ asset('public/js_admin/all.js') }}"></script>
        {% endblock %}
    </body>
</html>