{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Crear asignatura :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Crear asignatura nueva
        <small>Asignaturas</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Asignatura</li>
        <li class="active">Crear nueva</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-success box-solid">
                <div class="box-header">
                    <h3 class="box-title">Agregar asignatura</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.identificador)}}
                        {{ form_widget(form.identificador, {'attr':{'class':'form-control','placeholder':'Ej: IP, ED, POO...', 'autofocus':''}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nombre)}}
                        {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Ej: Introducción a la programación'}})}}
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Agregar</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
