{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Lista de Asignaturas :: Repositorio</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Lista de asignaturas
        <small>Asignaturas</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Asignaturas</li>
        <li class="active">Lista de asignaturas</li>
    </ol>
{% endblock %}

{% block contenido %}
    {%if result == 'eliminar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>Se ha eliminado correctamente la asignatura.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    {%if result == 'modificar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>Se ha modificado correctamente la asignatura.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title">Lista de asignaturas</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="text-info">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Identificador</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Número de recursos</th>
                                <th class="text-center">Aciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asignatura in asignaturas %}
                                <tr>
                                    <td>{{ asignatura.id }}</td>
                                    <td>{{ asignatura.identificador }}</td>
                                    <td>
                                        {{ asignatura.nombre }}
                                    </td>
                                    {%if (asignatura.nrecursos == 0) %}
                                        <td>No hay recursos disponibles.</td>
                                    {% elseif (asignatura.nrecursos == 1) %}
                                        <td>Hay {{ asignatura.nrecursos }} recurso disponible</td>
                                    {% elseif (asignatura.nrecursos > 1) %}
                                        <td>Hay {{ asignatura.nrecursos }} recursos disponibles</td>
                                    {% endif %}
                                    <td>
                                        <a class="button-link" href="{{path('admin_asignatura_modificar',{'idAsignatura':asignatura.id})}}">
                                            <button class="btn btn-info btn-xs button-celda" type="button">
                                                <i class="fa fa-pencil"></i> Editar
                                            </button>
                                        </a>
                                        <a class="button-link" href="{{path('admin_asignatura_eliminar',{'idAsignatura':asignatura.id})}}">
                                            <button class="btn btn-warning btn-xs  button-celda" type="button">
                                                <i class="fa fa-trash-o"></i> Eliminar
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


