{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %} Tickets :: Repositorio URJavaC {% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info text-center">
                Tu ticket a sido enviado correctamente. Te hemos enviado un correo electrónico para que puedas seguir el estado del ticket.
                Te responderemos con la mayor brevedad posible. Muchas gracias.<br>
                En 10 segundos serás redireccionado automáticamente.
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function redireccionar() {
            window.location = "{{ path('ticket_index') }}";
        }
        setTimeout("redireccionar()", 10000); //tiempo expresado en milisegundos
    </script>
{% endblock %}