<html>
    <body>
        <h3>El ticket ha cambiado de estado a: {{ ticket.estado }}</h3>
        <p>El ticket con título: {{ ticket.titulo }} ha sido marcado como: {{ ticket.estado }}</p>
        <p>Si tienes algún otro problema, por favor no dudes en abrir un nuevo ticket. Estaremos encantados de ayudarte.</p>
        <p>Muchas gracias por tu colaboración.</p>
        <p>Un saludo.</p>
        <p>La administración de URJavaC.</p>
    </body>
</html>
