<html>
    <body>
        <h3>El usuario {{ usuario.username }} ha abierto un nuevo ticket</h3>
        <table>
            <tr>
                <th>Usuario:</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Fecha:</th>
                <td>{{ ticket.fechaHora|date('d/m/Y') }} a las {{ ticket.fechaHora|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Tipo de ticket:</th>
                <td>{{ ticket.tipo }}</td>
            </tr>
            <tr>
                <th>Mensaje del ticket:</th>
                <td>{{ ticket.descripcion|nl2br }}</td>
            </tr>
        </table>
        <a href="{{url('admin_ticket_vista',{'idTicket':ticket.id})}}"><p>Verlo en el panel de administración</p></a>
    </body>
</html>