<html>
    <body>
        <h3>Nueva respuesta en el ticket: {{ ticket.titulo }}</h3>
        <p>Ya hemos contestado a tu ticket.</p>
        <h4>Respuesta:</h4>
        <p>{{ respuesta.descripcion|nl2br }}</p>
        <p>Puedes responder a este mensaje desde <a href="{{ url('ticket_estado',{'idTicket':ticket.id})}}">aquí</a> </p>
        <br>
        <p>Muchas gracias por tu colaboración.</p>
        <br>
        <p>Un saludo.</p>
        <p>La administración de URJavaC.</p>
    </body>
</html>
