<html>
    <body>
        <h3>Ticket enviado correctamente.</h3>
        <p>Hemos recibido el ticket correctamente. Te responderemos lo más rápido posible
            en un margen de 48 horas.</p>
        <p>Puedes seguir el estado del ticket desde: <a href="{{ url('ticket_estado',{'idTicket':idTicket})}}">aquí</a> </p>
        <br>
        <p>Muchas gracias por tu colaboración.</p>
        <br>
        <p>Un saludo.</p>
        <p>La administración de URJavaC.</p>
    </body>
</html>