{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %} Tickets :: Repositorio URJavaC {% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('public/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info text-justify alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4><i class="fa fa-ticket"></i> Sistema de Tickets</h4>
                <p>Bienvenido a nuestro sistema de ayuda por <strong>Tickets</strong>.<br><br> Esperamos que si necesitas ayuda con el Repositorio nos lo comuniques lo antes posible mediante este sistema.</p>
            </div>
            <div class="well menu-tickets">
                <ul class="nav nav-list">
                    <li class="nav-header">Menu del sistema de tickets</li>
                    <li><a href="{{ path('ticket_index') }}"><i class="fa fa-ticket"></i> Mis tickets</a></li>
                    <li><a href="{{ path('ticket_nuevo') }}"><i class="fa fa-plus"></i> Crear un nuevo ticket</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-md-push-6">
            <div class="alert alert-warning text-justify alert-dismissible">
                <h4><i class="fa fa-bug"></i> Ups! Algo no va bien...</h4>
                <p>Si has encontrado algún error en el repositorio, por favor, abre un nuevo ticket señalando <strong>"Error"</strong> en el campo <strong>"Tipo de Ticket"</strong>. Explícanos lo que ha ocurrido con el mayor detalle y lo solucionaremos lo antes posible.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-pull-3">
            <h3>Ticket inicial</h3>
            <hr>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ticket ID: {{ticket.id}}</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Título:</th>
                                <td>{{ ticket.titulo }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de ticket:</th>
                                <td>{{ ticket.tipo|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>Estado:</th>
                                <td>{{ ticket.estado|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>Mensaje del ticket:</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ ticket.descripcion|nl2br }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3>Respuestas</h3>
            <hr>
            {% if ticket.respuestas is empty %}
                <p class="text-muted text-center"> No hay ninguna respuesta para este ticket. </p>
            {% else %}
                {% for respuesta in ticket.respuestas %}
                    <div class="panel panel-info">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    {% if app.user.username == respuesta.idUsuario.username %}
                                        <tr>
                                            <th>Autor:</th>
                                            <td>{{ respuesta.idUsuario.username }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <th>Autor:</th>
                                            <td>{{ respuesta.idUsuario.username }}<span class="text-muted"> (Administrador)</span></td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Fecha y hora:</th>
                                        <td>El dia {{ respuesta.fechaHora|date('d/m/Y') }} a las {{respuesta.fechaHora|date('H:i:s')}}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">Respuesta:</th>
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ respuesta.descripcion|nl2br }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {%endif%}
            <hr>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Enviar una respuesta</h2>
                </div>
                <div class="panel-body">
                    {{form_start(form)}}
                    <div class="form-group">
                        {{ form_label(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                        {{ form_widget(form.descripcion,{'attr':{'class':'form-control', 'placeholder':'Mensaje de respuesta...'}, 'id':'text-editor', 'name':'text-editor'}) }}
                    </div>
                    <button type="submit" class="btn btn-info center-block">Enviar respuesta <i class="fa fa-ticket"></i></button>
                        {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}