{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %} Tickets :: Repositorio URJavaC {% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info text-justify alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4><i class="fa fa-ticket"></i> Sistema de Tickets</h4>
                <p>Bienvenido a nuestro sistema de ayuda por <strong>Tickets</strong>.<br><br> Esperamos que si necesitas ayuda con el Repositorio nos lo comuniques lo antes posible mediante este sistema.</p>
            </div>
            <div class="well menu-tickets">
                <ul class="nav nav-list">
                    <li class="nav-header">Menu del sistema de tickets</li>
                    <li><a href="{{ path('ticket_index') }}"><i class="fa fa-ticket"></i> Mis tickets</a></li>
                    <li><a href="{{ path('ticket_nuevo') }}"><i class="fa fa-plus"></i> Crear un nuevo ticket</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Tus tickets</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tickets is empty %}
                                <tr>
                                    <td colspan="5">No hay ningún ticket asociado a tu cuenta de usuario.</td>
                                </tr>
                            {% else %}
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>{{ ticket.id }}</td>
                                        <td><a href="{{ path('ticket_estado', {'idTicket': ticket.id}) }}">{{ ticket.titulo|title }}</a></td>
                                        <td>{{ ticket.fechaHora|date('d - m - Y') }}</td>
                                        <td>{{ ticket.fechaHora|date('H:i:s') }}</td>
                                        <td>{{ ticket.estado|capitalize }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-warning text-justify alert-dismissible">
                <h4><i class="fa fa-bug"></i> Ups! Algo no va bien...</h4>
                <p>Si has encontrado algún error en el repositorio, por favor, abre un nuevo ticket señalando <strong>"Error"</strong> en el campo <strong>"Tipo de Ticket"</strong>. Explícanos lo que ha ocurrido con el mayor detalle y lo solucionaremos lo antes posible.</p>
            </div>
        </div>
    </div>
{% endblock %}