{% extends "UrjavacRepoBundle::layout.html.twig" %}

{% block titulo %} Nuevo ticket :: Repositorio URJavaC {% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('public/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info text-justify alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4><i class="fa fa-ticket"></i> Sistema de Tickets</h4>
                <p>Bienvenido a nuestro sistema de ayuda por <strong>Tickets</strong>.<br><br> Esperamos que si necesitas ayuda con el Repositorio nos lo comuniques lo antes posible mediante este sistema.</p>
            </div>
            <div class="well menu-tickets">
                <ul class="nav nav-list">
                    <li class="nav-header">Menu del sistema de tickets</li>
                    <li><a href="{{ path('ticket_index') }}"><i class="fa fa-ticket"></i> Mis tickets</a></li>
                    <li><a href="{{ path('ticket_nuevo') }}"><i class="fa fa-plus"></i> Crear un nuevo ticket</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Formulario de envío de un nuevo ticket</h2>
                </div>
                <div class="panel-body">
                    {{form_start(form)}}
                    <div class="form-group">
                        {{ form_label(form.titulo) }}
                        {{ form_errors(form.titulo) }}
                        {{ form_widget(form.titulo,{'attr':{'class':'form-control', 'placeholder':'Título del ticket', 'autofocus':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                        {{ form_widget(form.descripcion,{'attr':{'class':'form-control', 'placeholder':'Descripción detallada...'},'id':'ckeditor'}) }}
                    </div>
                    <button type="submit" class="btn btn-info center-block">Enviar Ticket <i class="fa fa-ticket"></i></button>
                        {{form_end(form)}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-warning  alert-dismissible">
                <h4><i class="fa fa-bug"></i> Ups! Algo no va bien...</h4>
                <p class="text-justify">Si has encontrado algún error en el repositorio, por favor, abre un nuevo ticket señalando <strong>"Error"</strong> en el campo <strong>"Tipo de Ticket"</strong>. Explícanos lo que ha ocurrido con el mayor detalle y lo solucionaremos lo antes posible.</p>
            </div>
        </div>
    </div>
{% endblock %}