<html>
    <body>
        <h3>Nuevo recurso en la asignatura: {{ asignatura.nombre }}.</h3>
        <p>Hay un nuevo recurso disponible en la asignatura: {{ asignatura.nombre }}</p>
        Estos son los datos del nuevo recurso:
        <table>
            <tr>
                <th>Nombre:</th>
                <td>{{ recurso.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción:</th>
                <td>{{ recurso.descripcion }}</td>
            </tr>
            <tr>
                <th>Asignatura:</th>
                <td>{{ recurso.idasignatura.nombre }}</td>
            </tr>
            <tr>
                <th>Oficial:</th>
                <td>{{ (recurso.oficial == 1)? "Sí":"No" }}</td>
            </tr>
            <tr>
                <th>Revisado:</th>
                <td>{{ (recurso.revisado == 1)? "Sí":"No" }}</td>
            </tr>
            <tr>
                <th>Curso:</th>
                <td>{{ recurso.curso.curso }}</td>
            </tr>
            <tr>
                <th>Tipo:</th>
                <td>{{ recurso.tipo.nombre }}</td>
            </tr>
            <tr>
                <th>Formato:</th>
                <td>{{ recurso.formato.nombre }}</td>
            </tr>
        </table>
        <p>Puedes el nuevo recurso desde este enlace: <a href="{{ url('recurso_detalles',{'idrecurso':recurso.id})}}">aquí</a> </p>
        <br>
        <p>Muchas gracias por tu colaboración.</p>
        <p>Un saludo.</p>
        <p>La administración de URJavaC.</p>
    </body>
</html>