{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Lista de recursos :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Lista de recursos
        <small>Recursos</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Recurso</li>
        <li class="active">Modificar / Eliminar</li>
    </ol>
{% endblock %}

{% block contenido %}
    {%if result == 'eliminar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>Se ha eliminado correctamente el recurso.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    {%if result == 'modificar_ok'%}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>Se ha modificado correctamente el recurso.</strong>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-2">
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="glyphicon glyphicon-search"></i> Filtros
                    </h3>
                </div>
                <div class="panel-body">
                    {{form_start(form)}}
                    {% for radio in form.radios %}
                        <div class="radio-button">
                            {{ form_widget(radio) }}
                            {{ form_label(radio) }}
                        </div>
                    {%endfor%}
                    <br>
                    <div class="form-group">
                        {{ form_label(form.asignatura) }}
                        {{ form_widget(form.asignatura, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.curso) }}
                        {{ form_widget(form.curso, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.formato) }}
                        {{ form_widget(form.formato, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-info btn-sm center-block"><i class="fa fa-search"></i> Filtrar</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">Lista de recursos</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="text-info">
                            <tr>
                                <th class="text-center">Asignatura</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Curso</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Formato</th>
                                <th class="text-center">Oficial</th>
                                <th class="text-center">Uploader</th>
                                <th class="text-center">Valoración</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Aciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if recursos is empty %}
                                <tr class="text-center">
                                    <td colspan="11">No hay ningún recurso en la base de datos. <a href="{{ path('admin_recurso_crear') }}">Publicar uno ahora mismo.</a></td>
                                </tr>
                            {% else %}
                                {% for recurso in recursos %}
                                    <tr>
                                        <td>{{ recurso.idasignatura.identificador }}</td>
                                        <td>
                                            {{ recurso.nombre }}
                                        </td>
                                        <td style="width: auto; overflow: hidden">{{ recurso.descripcion }}</td>
                                        <td>{{ recurso.curso.curso }}</td>
                                        <td>{{ recurso.tipo.nombre }}</td>
                                        <td>
                                            {{ recurso.formato.nombre }}
                                        </td>
                                        <td>
                                            {% if recurso.oficial %}
                                                <i class="fa fa-check-circle-o"></i> Sí
                                            {% else %}
                                                <i class="fa fa-times-circle-o"></i> No
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ recurso.idusuario.username }}
                                        </td>
                                        <td>
                                            {{ recurso.valorpositivo - recurso.valornegativo }} puntos
                                        </td>
                                        <td>
                                            {% if recurso.revisado %}
                                                <label class="label label-success">Revisado</label>
                                            {% else %}
                                                <label class="label label-danger">Por revisar</label>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="button-link" href="{{recurso.webPath}}" target="blank">
                                                <button class="btn btn-xs btn-primary button-celda" type="button">
                                                    <i class="fa fa-download"></i> Descargar
                                                </button>
                                            </a>
                                            <a class="button-link" href="{{path('admin_recurso_cambiar_estado',{'idrecurso':recurso.id, 'estado':(recurso.revisado==1)?1:0})}}">
                                                {% if recurso.revisado %}
                                                    <button class="btn btn-danger btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-exclamation-triangle"></i> Por revisar
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-success btn-xs button-celda button-link" type="button">
                                                        <i class="fa fa-check-square-o"></i> Revisado
                                                    </button>
                                                {% endif%}
                                            </a>
                                            <a class="button-link" href="{{path('admin_recurso_modificar',{'idRecurso':recurso.id})}}">
                                                <button class="btn btn-info btn-xs button-celda button-link" type="button">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </button>
                                            </a>
                                            <a class="button-link" href="{{path('admin_recurso_eliminar',{'idRecurso':recurso.id})}}">
                                                <button class="btn btn-warning btn-xs  button-celda button-link" type="button">
                                                    <i class="fa fa-trash-o"></i> Eliminar
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}