{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Modificar un recurso :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Modificar un recurso
        <small>Recursos</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Recurso</li>
        <li class="active">Modificar / Eliminar</li>
    </ol>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info box-solid">
                <div class="box-header">
                    <h3 class="box-title">Modificar recurso</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.idasignatura) }}
                        {{ form_widget(form.idasignatura, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nombre) }}
                        {{ form_widget(form.nombre, {'attr':{'class':'form-control','placeholder':'Ej: Apuntes de estructuras de datos'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.descripcion) }}
                        {{ form_widget(form.descripcion, {'attr':{'class':'form-control','placeholder':'Ej: Todos los apuntes. Incluye listas simulando memoria dinámica.'}})}}
                        <p class="help-block">Máximo: 140 caracteres.</p>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.curso) }}
                        {{ form_widget(form.curso, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.formato) }}
                        {{ form_widget(form.formato, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.file) }}
                        {{ form_widget(form.file)}}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.idusuario) }}
                        {{ form_widget(form.idusuario, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="checkbox">
                        <label>
                            ¿Es un recurso oficial?
                            {{ form_widget(form.oficial, {'attr':{'class':'checkbox'}})}}
                        </label>
                        <p class="help-block">Nos referimos a si lo ha compartido un profesor.</p>
                    </div>
                    {{ form_widget(form.reset,{'attr':{'class':'btn btn-default bnt-sm'}})}}
                    {{ form_widget(form.enviar,{'attr':{'class':'btn btn-info bnt-sm'}})}}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}