{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Lista de tickets :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Lista de tickets
        <small>Tickets</small>
    </h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Tickets</li>
        <li class="active">Todos los tickets</li>
    </ol>
{% endblock %}

{% block contenido %}
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <!-- BOXES are complex enough to move the .box-header around.
                                 This is an example of having the box header within the box body -->
                            <div class="box-header">
                                <i class="fa fa-inbox"></i>
                                <h3 class="box-title">Tickets SOS</h3>
                            </div>
                            <!-- compose message btn -->
                            {#                            <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i> Compose Message</a>#}
                            <!-- Navigation - folders-->
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="header">Filtros</li>
                                    <li><a href="{{ path('admin_ticket_lista') }}"><i class="fa fa-inbox"></i> Todos los tickets</a></li>
                                    <li ><a href="{{ path('admin_ticket_lista',{'carpeta':'abiertos'}) }}"><i class="fa fa-exclamation-triangle"></i> Tickets abiertos</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'cerrados'}) }}"><i class="fa fa-lock"></i> Tickets cerrados</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'ayuda'}) }}"><i class="fa fa-life-ring"></i> Tickets de ayuda</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'error'}) }}"><i class="fa fa-bug"></i> Tickets de error</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'sugerencia'}) }}"><i class="fa fa-comments"></i> Tickets de sugerencia</a></li>
                                </ul>
                            </div>
                        </div><!-- /.col (LEFT) -->
                        <div class="col-md-10 col-sm-9">
                            {#<div class="row pad">
                                <div class="col-sm-6 search-form">
                                    <form action="#" class="text-right">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>#}<!-- /.row -->

                            <div class="table-responsive">
                                <!-- THE MESSAGES -->
                                <table class="table table-mailbox text-center">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Usuario</th>
                                            <th>Titulo</th>
                                            <th>Estado</th>
                                            <th>Tipo</th>
                                            <th>Fecha y hora</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if tickets is empty %}
                                            <tr>
                                                <td colspan="6" class="text-center">No hay ningún ticket con este criterio o en la base de datos.</td>
                                            </tr>
                                        {% else %}
                                            {% for ticket in tickets%}
                                                <tr class="unread">
                                                    <td class="id"><a href="{{path('admin_ticket_vista',{'idTicket':ticket.id})}}">{{ ticket.id }}</a></td>
                                                    <td class="name"><a href="{{path('admin_ticket_vista',{'idTicket':ticket.id})}}">{{ ticket.idusuario.username }}</a></td>
                                                    <td class="subject"><a href="{{path('admin_ticket_vista',{'idTicket':ticket.id})}}">{{ ticket.titulo }}</a></td>
                                                    <td class="subject"><a href="{{path('admin_ticket_vista',{'idTicket':ticket.id})}}">{{ ticket.estado }}</a></td>
                                                    <td class="subject"><a href="{{path('admin_ticket_vista',{'idTicket':ticket.id})}}">{{ ticket.tipo }}</a></td>
                                                    <td class="time">{{ ticket.fechaHora|date('d/m/Y') }} a las {{ ticket.fechaHora|date('H:i:s') }} </td>
                                                    <td>
                                                        {% if ticket.estado == "cerrado" %}
                                                            <a href="{{ path('admin_ticket_cambiar_estado', {'idTicket':ticket.id}) }}">
                                                                <button class="btn btn-xs btn-success">
                                                                    <i class="fa fa-unlock"></i> Reabrir ticket
                                                                </button>
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ path('admin_ticket_cambiar_estado', {'idTicket':ticket.id}) }}">
                                                                <button class="btn btn-xs btn-info">
                                                                    <i class="fa fa-lock"></i> Cerrar ticket
                                                                </button>
                                                            </a>
                                                        {% endif %}
                                                        <a href="{{ path('admin_ticket_eliminar',{'idTicket':ticket.id}) }}">
                                                            <button type="button" class="btn btn-xs btn-warning"><i class="fa fa-trash-o"></i> Eliminar</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.col (RIGHT) -->
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
                {#<div class="box-footer clearfix">
                    <div class="pull-right">
                        <small>Showing 1-12/1,240</small>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-left"></i></button>
                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-right"></i></button>
                    </div>
                </div>#}<!-- box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->
{% endblock %}