{% extends "UrjavacRepoBundle::layout.admin.html.twig" %}

{% block titulo %}<title>Ver ticket :: Repositorio URJAVAC</title>{% endblock %}

{% block titulo_principal %}
    <h1>
        Vista de ticket
        <small>Tickets</small>
    </h1>
{%endblock%}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('public/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Tickets</li>
        <li class="active">Ver</li>
    </ol>
{% endblock %}

{% block contenido %}
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <!-- BOXES are complex enough to move the .box-header around.
                                 This is an example of having the box header within the box body -->
                            <div class="box-header">
                                <i class="fa fa-inbox"></i>
                                <h3 class="box-title">Tickets SOS</h3>
                            </div>
                            <!-- compose message btn -->
                            {#                            <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i> Compose Message</a>#}
                            <!-- Navigation - folders-->
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="header">Filtros</li>
                                    <li><a href="{{ path('admin_ticket_lista') }}"><i class="fa fa-inbox"></i> Todos los tickets</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'abiertos'}) }}"><i class="fa fa-exclamation-triangle"></i> Tickets abiertos</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'cerrados'}) }}"><i class="fa fa-lock"></i> Tickets cerrados</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'ayuda'}) }}"><i class="fa fa-life-ring"></i> Tickets de ayuda</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'error'}) }}"><i class="fa fa-bug"></i> Tickets de error</a></li>
                                    <li><a href="{{ path('admin_ticket_lista',{'carpeta':'sugerencia'}) }}"><i class="fa fa-comments"></i> Tickets de sugerencia</a></li>
                                </ul>
                            </div>
                        </div><!-- /.col (LEFT) -->
                        <div class="col-md-9 col-sm-8">
                            <div class="row pad">
                                <div class="col-sm-12">
                                    {% if ticket.estado == "cerrado" %}
                                        <a href="{{ path('admin_ticket_cambiar_estado', {'idTicket':ticket.id}) }}" class="btn btn-app">
                                            <i class="fa fa-unlock"></i>Reabrir ticket
                                        </a>
                                    {% else %}
                                        <a href="{{ path('admin_ticket_cambiar_estado', {'idTicket':ticket.id}) }}" class="btn btn-app">
                                            <i class="fa fa-lock"></i>Cerrar ticket
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('admin_ticket_eliminar',{'idTicket':ticket.id}) }}" class="btn btn-app">
                                        <i class="fa fa-trash-o"></i>
                                        Eliminar ticket
                                    </a>
                                    <a href="{{ path('admin_ticket_lista') }}" class="btn btn-app">
                                        <i class="fa fa-inbox"></i>
                                        Lista tickets
                                    </a>
                                </div>
                            </div><!-- /.row -->

                            <div class="table-responsive">
                                <!-- THE MESSAGES -->
                                <table class="table table-mailbox">
                                    <tbody>
                                        <tr>
                                            <th>Título:</th>
                                            <td>{{ ticket.titulo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tipo de ticket:</th>
                                            <td>{{ ticket.tipo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Estado:</th>
                                            <td>{{ ticket.estado }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Mensaje del ticket:</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2">{{ ticket.descripcion|nl2br }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                            <h3>Respuestas:</h3>
                            <hr>
                            {%for respuesta in ticket.respuestas%}
                                <div class="table-responsive">
                                    <!-- THE MESSAGES -->
                                    <table class="table table-mailbox">
                                        <tbody>
                                            <tr>
                                                <th>Autor:</th>
                                                <td>{{ respuesta.idusuario.username }}</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha y hora:</th>
                                                <td>{{ respuesta.fechaHora|date('d/m/Y') }} a las {{ respuesta.fechaHora|date('H:i:s') }} </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Mensaje:</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{ respuesta.descripcion|nl2br }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.table-responsive -->
                                <br>
                            {%endfor%}
                            <hr>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Enviar una respuesta</h2>
                                </div>
                                <div class="panel-body">
                                    {{form_start(form)}}
                                    <div class="form-group">
                                        {{ form_label(form.descripcion) }}
                                        {{ form_errors(form.descripcion) }}
                                        {{ form_widget(form.descripcion,{'attr':{'class':'form-control', 'placeholder':'Mensaje de respuesta...'}}) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary center-block">Enviar respuesta <i class="fa fa-ticket"></i></button>
                                        {{form_end(form)}}
                                </div>
                            </div>
                        </div><!-- /.col (RIGHT) -->
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->
{% endblock %}